In [1]:
from river import datasets
import pandas as pd

dataset = datasets.AirlinePassengers()

df = pd.DataFrame(dataset)

df.info()
df.describe()

df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       144 non-null    object
 1   1       144 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.4+ KB

                                0    1
0  {'month': 1949-01-01 00:00:00}  112
1  {'month': 1949-02-01 00:00:00}  118
2  {'month': 1949-03-01 00:00:00}  132
3  {'month': 1949-04-01 00:00:00}  129
4  {'month': 1949-05-01 00:00:00}  121